<form>
    <label form="search">Search: </label>
    <input type="string" #inputContent>
</form>
<button (click)="search(inputContent.value)">Search!</button>
<p>
    <app-content-card *ngFor="let item of (contentA | default: 'news' ); index as i; last as e" [stuff]="item" [index]="i" [last]="e" [type]="'news'"></app-content-card>
    <app-content-card *ngFor="let item of (contentA | default: 'story' ); index as i; last as e" [stuff]="item" [index]="i" [last]="e" [type]="'story'"></app-content-card>
</p>