.card-wrapper{
  border: 1px solid #ff0000;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: 20px auto;
}
.last{
  border: 2px solid #000000;
}
.news{
  border-color: #00ff00;
}
.stories{
  border-color:#0000ff;
}
img{
  width: 50px;
  margin: 0 auto;
  display: block;
}
