<div class="content-card" [ngClass]="{'last': last, 'news': type=='news', 'story': type=='story'} ">
    <p appTextDeco [deco] = '"underline"'>
        {{ stuff.title }}
    </p>
    <div *ngIf='stuff.imgUrl'>
        <img src="{{stuff.imgUrl}}" alt="{{stuff.body}}" (click)="clicked()">
    </div>
    <div *ngIf='!stuff.imgUrl'>
        <img src='https://static.thenounproject.com/png/78777-200.png' alt="Default image">
    </div>

    <p class="body">
        {{stuff.body}}
    </p>
    <p>
        {{index}}
    </p>
    <p>
        {{stuff.contentId}}
    </p>
    <p>
        {{stuff.author}}
    </p>
    <p>
        {{stuff.type}}
    </p>
    <p appTextDeco [deco] = '"line-through"'>
        {{stuff.tags}}
    </p>
</div>
